<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.2" targetFramework="net40" />
  <package id="Ninject" version="3.0.2-unstable-9" targetFramework="net40" />
  <package id="Ninject.Web.Common" version="3.0.0.7" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="PostSharp" version="2.1.7.30" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.0.2330" targetFramework="net40" />
  <package id="RavenDB.Database" version="2.0.2330" targetFramework="net40" />
  <package id="RavenDB.Embedded" version="2.0.2330" targetFramework="net40" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="RestSharp.Net2" version="1.1.11" targetFramework="net40" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
</packages>